
html {
  scroll-behavior: smooth;
}

body {
  background-color: #D2D2D2;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#navbar-scroll {
  background-color: #99B1FF;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

#navbar-scroll a {
  color: white;
}
#navbar-scroll a:hover {
  background-color: #99B1FF;
  color: #2a2b2d;
}

#navbar-scroll ul {
  right: 0;
  position: absolute;
}

.nav-item li:hover {
  color: #2a2b2d;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.custom-button {
  background-color: #99B1FF;
  color: white;
  border-color: #99B1FF;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  padding-bottom: 1.2rem;
  margin-bottom: 0rem;
}

.section-description a {
  text-decoration: none;
  color: #C6D3FF;
}
.section-description a:hover {
  text-decoration: none;
  color: white;
}

.section-heading.sub {
  color: #99B1FF;
}

.row {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.photos {
  position: relative;
}
.photo {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.photo + .photo {
  display: none;
}

/* skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.skills-color {
  color: white;
}

.skills {
  background-image: url('/black_balsam_knob_background.jpg');
  background-size: cover;
  color: #D2D2D2;
  padding-bottom: 5rem;
}
.skill-multiplier {
  margin-bottom: .5rem;
  color: #C6D3FF;
}
.skill-heading {
  margin-bottom: .3rem;
}
.skill-description {
  opacity: .8;
  font-weight: 300;
}

.background-bar {
  background-color: rgba(42, 43, 45, 0.65)
}

/* Skill Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

svg path{
  fill: #C6D3FF;
}

div div div div div div:hover svg path {
  fill:white;
}

div div div div div div:hover h4{
  color:white;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-me {
  background-color: #D2D2D2;
}


/* projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
  background-color: #2a2b2d;
  /* background-image: url('../images/skills-bg.jpg'); */
  background-size: cover;
  color: #D2D2D2;
}
.projects .section-description {
  margin-bottom: 4rem;
}

.skill {
  color: #C6D3FF;
}

.firebase {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dc-mobile {
  height: 60rem;
}

#bh-score {
  height: 50rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 10rem 0 11rem;
  }
  .about {
    padding-bottom: 37rem;
    text-align: left;
    height: 165px;
  }
  .photo {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .photo + .photo {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .about {
    height: 190px;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .about {
    padding: 8rem 0 30rem;
  }
  .section-description {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .photo {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .photo + .photo {
    top: -12rem;
    max-height: 472px;
  }
  .projects {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 19rem 0 19rem;
  }
  .about {
    padding: 12rem 0 36rem;
  }
  .photo {
    top: -16rem;
    max-height: 615px;
  }
  .photo + .photo {
    top: -14rem;
    max-height: 570px;
  }
}

/* Smaller than 750 to hide images */
@media only screen and (max-width: 799px) {
  #dc-mobile {
    display: none;
  }
  #bh-score {
    display:none;
  }
}
