
html {
  scroll-behavior: smooth;
}

body {
  background-color: #D2D2D2;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#navbar-scroll {
  background-color: #99B1FF;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  margin-bottom: 0;
}

#navbar-scroll a {
  color: white;
}
#navbar-scroll a:hover {
  background-color: #99B1FF;
  color: #2a2b2d;
}

#navbar-scroll ul {
  right: 0;
  position: absolute;
}

.nav-item li:hover {
  color: #2a2b2d;
}

.nav>li>a {
  padding: 13px 15px;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.custom-button {
  background-color: #99B1FF;
  color: white;
  border-color: #99B1FF;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  padding-bottom: .8rem;
  margin-bottom: 0rem;
}

.about-me-heading {
  margin-bottom: 3rem;
}

.section-description a {
  text-decoration: none;
  color: #C6D3FF;
}
.section-description a:hover {
  text-decoration: none;
  color: white;
}

.section-heading.sub {
  color: #99B1FF;
}

.row {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.photos {
  position: relative;
}
.photo {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.photo + .photo {
  display: none;
}

.large-photo-div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* skills
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.skills-color {
  color: white;
}

.skills {
  background-image: url('/skill_background.png');
  background-size: cover;
  color: #D2D2D2;
  padding-bottom: 5rem;
}
.skill-multiplier {
  margin-bottom: .5rem;
  color: #C6D3FF;
}
.skill-heading {
  margin-bottom: .3rem;
}
.skill-description {
  opacity: .8;
  font-weight: 300;
}

.background-bar {
  background-color: rgba(42, 43, 45, 0.65)
}

/* Skill Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

svg path{
  fill: #C6D3FF;
}

div div div div div:hover svg path {
  fill:white;
}

div div div div div div:hover h5{
  color:white;
}
svg {
  margin: .5rem;
}
svg polygon{
  fill: #C6D3FF;
}
div div div div div:hover svg polygon {
  fill:white;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-me {
  background-color: #D2D2D2;
}


/* projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
  background-color: #2a2b2d;
  background-size: cover;
  color: #D2D2D2;
}
.projects .section-description {
  margin-bottom: 0rem;
}

.skill {
  color: #C6D3FF;
}

.firebase {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dc-mobile {
  height: 60rem;
}

#bh-score {
  height: 30rem;
}

.project-details {
  border-bottom: solid;
  border-width: thin;
  border-color: #D2D2D2;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-details:last-child {
  border-bottom: none;
}

.project-details-first {
  margin-top: 0rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 5rem 0 5rem;
  }
  .about {
    text-align: left;
    height: 100%;
  }
  .photo {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .photo + .photo {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }

  .small-photo {
    max-height: 100%;
    max-width:80%;
    padding-bottom: 3rem;
  }
  .small-photo-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-container {
    width: 100%;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 10rem 0 8rem;
  }
  .about {
    padding: 8rem 0 20rem;
  }
  .section-description {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .photo {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .photo + .photo {
    top: -12rem;
    max-height: 472px;
  }
  .projects {
    padding: 10rem 0 8rem;
  }
  .large-photo {
    max-width: 80%;
    max-height: 50rem;
  }
  .custom-container {
    width: 85%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 8rem;
  }
  .about {
    padding: 12rem 0 20rem;
  }
  .photo {
    top: -16rem;
    max-height: 615px;
  }
  .photo + .photo {
    top: -14rem;
    max-height: 570px;
  }
  .large-photo {
    max-width: 80%;
    max-height: 50rem;
  }
  .small-photo {
    display: none;
  }
  .custom-container {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .small-photo {
    display: none;
  }
  .small-screenshot {
    display: none;
  }
  .large-photo {
    max-width: 80%;
    max-height: 50rem;
  }
}

/* Smaller than 799 to hide images */
@media only screen and (max-width: 799px) {
  #bh-score {
    display:none;
  }
  .large-photo {
    display: none;
  }
  .small-screenshot {
    max-width: 100%;
  }
}

@media only screen and (max-width: 999px) {
  #wayfinder {
    display: none;
  }
  #noise {
    display:none;
  }
}

/* Smaller than 750 to hide large image */
@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 550px){
  .small-photo {
    max-height: 100%;
    max-width:80%;
    padding-bottom: 3rem;
  }
  .small-photo-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-container {
    width: 100%;
  }
}

.projects {
  height: 100%;
}
